<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>Carl Erik Patrik Iwarson {%TITLE%}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{%ROOT%}assets/style.css">
	</head>
	<body>
		<script src="{%ROOT%}assets/util.js"></script>
		<{HEADER}/>
		<{PAGES}/>

		<div id="main">
{%CONTENT%}
<{FOOTER}/>
		</div>
	</body>
</html>
