* {
	box-sizing: border-box;
}

body {
	font-family: Consolas, Ubuntu, Calibri;
	margin: 0;
	background: black;
	color: #fff;
	word-wrap: break-word;
}

header {
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid #d53880;
	background: black;
}

footer {
	margin-top: 10px;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: #65aae7;
}

a:hover {
	color: #003078;
}

#header-inner {
	width: 22rem;
	margin: 0 auto;
}

#header-inner h1 {
	font-size: 3rem;
	font-weight: normal;
	margin: 0;
	text-align: center;
}

#header-inner h3 {
	font-size: 1rem;
	font-weight: normal;
	padding-bottom: 0.5rem;
	margin: 0;
	text-align: center;
}

.page {
	background: #080707;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-radius: 5px;
}

.page-header {
	font-size: 1.5rem;
	text-align: center;
	background: black;
	color: #fff;
	padding-left: 1rem;
       	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid #d53880;
	border-radius: 5px;
}

.page-links-container {
	border-radius: 5px;
	background: black;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid #d53880;
}

.page-links {
	display: flex;
}

.page-link {
	font-size: 1.5rem;
}

@media (min-width: 800px) and (orientation: landscape) {
	.page-link {
		font-size: 2rem;
	}
}

.page-link-separator {
	margin: 0 1rem;
	background: #d53880;
	width: 3px;
}

#main {
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	padding: 0 1rem;
	max-width: 70rem;
}

@media (min-width: 800px) and (orientation: landscape) {
	#main {
		display: flex;
		flex-flow: row wrap;
		margin: 0 auto;
		padding: 0 1rem;
		max-width: 70rem;
	}
}

.img-blog {
	margin: 5px;
	max-width: 100%;
}

.back-blog {
	border-top: 1px dashed #d53880;
	margin-top: 40px;
	margin-bottom: 10px;
	padding-top: 10px;
	width: 100%;
	display: block;
}

.blog-pre {
	font-weight: bold;
	border: 1px dashed #d53880;
	overflow: auto;
	padding: 10px;
}

.blog-code {
	padding: 0px 3px;
	font-size: 1rem;
	font-weight: bold;
	background: darkred;
}

.blog-code-block {
	font-size: 100%;
	overflow: auto;
	word-wrap: normal;
}

.date {
	border-top: 1px solid #d53880;
	border-right: 1px dashed #d53880;
	border-bottom: 1px dashed #d53880;
	border-left: 1px dashed #d53880;
}

#blog {
	width: 100%;
}

#github {
	width: 100%;
}

#music {
	width: 100%;
}

#sidebar {
	flex: 1;
}

#about {
	width: 100%;
}

.box-text {
	margin: 1rem;
}

.list {
	display: grid;
	grid-template-columns: repeat(1,1fr);
	grid-gap: 1rem;
	margin: 1rem;
	text-align: center;
}

@media (min-width: 800px) and (orientation: landscape) {
	.list {
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-gap: 1rem;
		margin: 1rem;
		text-align: center;
	}
}


.list-item {
	font-size: 1rem;
}

.link-button {
	width: 17rem;
	background: black;
	padding: 0.5rem;
	border-radius: 5px;
	border: 1px solid #65aae7;
}

@media (min-width: 800px) and (orientation: landscape) {
	.link-button {
		width: 20rem;
		background: black;
		padding: 0.5rem;
		border-radius: 5px;
		border: 1px solid #65aae7;
	}
}


.list-item a:hover .link-button {
	border: 1px solid #003078;
}

.tooltip {
	background: #080707;
	padding: 0.5rem;
	border: 1px solid #d53880;
	border-radius: 5px;
	color: #fff;
	margin-top: 0.5rem;
	width: 17rem;
}

@media (min-width: 800px) and (orientation: landscape) {
	.tooltip {
		background: #080707;
		padding: 0.5rem;
		border: 1px solid #d53880;
		border-radius: 5px;
		color: #fff;
		margin-top: 0.5rem;
		width: 20rem;
	}
}


.flex-center {
	display: flex;
	justify-content: center;

}

.image-closer {
	display: none;
	position: relative;
	width: 20px;
	height: 20px;
}

.image-holder {
	position: absolute;
	top: 2rem;
	left: 50%;
	display: flex;
	justify-content: center;
}

.image-holder section:target {
	display: block;
	position: absolute;
	transition: all 2s ease-in;
	background: black;
	border: 1px solid #d53880;
	border-radius: 5px;
	text-align: center;
	padding: 2rem;
	overflow: scroll;
	width: fit-content;
	height: fit-content;
	max-width: 1000px;
	max-height: 800px;
}

.image-holder section {
	display: none;
}

section:target ~ .image-closer {
	display: block;
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: right;
	font-size: 32px;
}

/*
.image-holder section:target img {
	width: auto;
	height: auto;
}

.image-holder img {
	width: 0px;
	height: 0px;
}*/
