* {
	box-sizing: border-box;
}

body {
	font-family: Consolas, Ubuntu, Calibri;
	margin: 0;
	background: black;
	color: #fff;
	word-wrap: break-word;
}

header {
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid #d53880;
	background: black;
}

footer {
	margin-top: 10px;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: #65aae7;
}

a:hover {
	color: #003078;
}

#header-inner {
	width: 20rem;
	margin: 0 auto;
}

#header-inner h1 {
	font-size: 1.5rem;
	font-weight: normal;
	margin: 0;
	text-align: center;
}

#header-inner h3 {
	font-size: 1rem;
	font-weight: normal;
	padding-bottom: 0.5rem;
	margin: 0;
	text-align: center;
}

.page {
	width:100%;
	background: #080707;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-radius: 5px;
}

.about-page {
	width:100%;
	background: #080707;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-bottom: 0.5rem;
	border-radius: 5px;
}

.page-header {
	font-size: 1.5rem;
	text-align: center;
	background: black;
	color: #fff;
	padding: 0.5rem 1rem;
	border-bottom: 1px solid #d53880;
	border-radius: 5px;
}

.page-header-blog {
	font-size: 1.5rem;
	text-align: center;
	background: black;
	color: #fff;
	padding: 0.5rem 1rem;
	border-bottom: 1px solid #d53880;
	border-radius: 5px;
}

.page-links-container {
	border-radius: 5px;
	background: black;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid #d53880;
	height: 2.5rem;
}

.page-links {
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-link {
	font-size: 1.5rem;
}

.page-image-link {
	display: flex;
}

.page-link-separator {
	margin: 0 1rem;
	background: #d53880;
	width: 3px;
	height: 2.5rem;
}

#main {
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	padding: 0 1rem;
	max-width: 70rem;
}

.blog-index li {
	margin-top: 2rem;
}

.img-blog {
	margin: 5px;
	max-width: 100%;
}

.back-blog {
	border-top: 1px dashed #d53880;
	margin-top: 40px;
	margin-bottom: 10px;
	padding-top: 10px;
	width: 100%;
	display: block;
}

.blog-pre {
	font-weight: bold;
	border: 1px dashed #d53880;
	overflow: auto;
	padding: 10px;
}

.blog-code {
	padding: 0px 3px;
	font-size: 1rem;
	font-weight: bold;
	background: darkred;
}

.blog-code-block {
	font-size: 100%;
	overflow: auto;
	word-wrap: normal;
}

.date {
	border-top: 1px solid #d53880;
	border-right: 1px dashed #d53880;
	border-bottom: 1px dashed #d53880;
	border-left: 1px dashed #d53880;
}

#sidebar {
	flex: 1;
}

.box-text {
	margin: 1rem;
}

.list {
	display: grid;
	grid-template-columns: repeat(1,1fr);
	grid-gap: 1rem;
	margin: 1rem;
	text-align: center;
}


.list-item {
	font-size: 1rem;
}

.link-cursor {
	cursor: pointer;
}

.link-button {
	width: 17rem;
	background: black;
	padding: 0.5rem;
	border-radius: 5px;
	border: 1px solid #65aae7;
}

.list-item a:hover .link-button {
	border: 1px solid #003078;
}

.tooltip {
	background: #080707;
	padding: 0.5rem;
	border: 1px solid #d53880;
	border-radius: 5px;
	color: #fff;
	margin-top: 0.5rem;
	width: 17rem;
}

.flex-center {
	display: flex;
	justify-content: center;

}

#imv {
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	max-width: 100vw;
	max-height: 100vh;
	justify-content: center;
	align-items: center;
	background: rgba(22,22,22,0.7);
	visibility: collapse;
}

.imv-modal {
	box-shadow: 2px 2px 5px #d53880;
	background: black;
	padding: 0.5rem;
}

#imv-img {
	display: flex;
	object-fit: contain;
	max-height: 80vh;
	max-width: 100%;
	cursor: pointer;
}

.imv-visible {
	visibility: visible !important;
}

.imv-enlarge {
	height:3rem;
    margin-top:1rem;
}

table {
	border-collapse: collapse;
}

table th, table td {
	padding: 8px;
}

tr {
	vertical-align: top;
	text-align: left;
}

table thead tr th, table thead tr {
	border-bottom: 2px solid white;
}

table tbody tr td {
	border-left: 1px dashed white;
	border-right: 1px dashed white;
	border-bottom: 1px dashed white;
}


@media (min-width: 800px) and (orientation: landscape) {
	.page-links-container {
		height: 3rem;
	}
	.page-link {
		font-size: 2rem;
	}
	.page-link-separator {
		margin: 0 1.5rem;
		height: 3rem;
	}
	.page-header-blog {
		border-right: 1px solid #d53880;
        border-bottom: 0;
	}
	.list {
		grid-template-columns: repeat(2,1fr);
	}
	.link-button {
		width: 20rem;
	}
	.tooltip {
		width: 20rem;
	}

	#header-inner {
		width: 42rem;
		margin: 0 auto;
	}

	#header-inner h1 {
		font-size: 3rem;
		font-weight: normal;
		margin: 0;
		text-align: center;
	}

	#blog {
		display: flex;
	}

	.blog-index li {
		margin-top: 1rem;
	}
}